@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Medium.otf") format("opentype");
  font-weight: 500;
}

:root {
  --primary-color: 0, 82, 255;
  --primary-color-rgb: rgb(0, 82, 255);

  --primary-100: rgb(230, 238, 255);
  --primary-200: rgb(179, 203, 255);
  --primary-300: rgb(128, 169, 255);
  --primary-400: rgb(77, 134, 255);
  --primary-500: rgb(0, 82, 255);
  --primary-600: rgb(0, 74, 230);
  --primary-700: rgb(0, 57, 179);
  --primary-800: rgb(0, 41, 128);
  --primary-900: rgb(0, 25, 76);

  --secondary-color: 254, 149, 38;
  --secondary-color-rgb: rgb(254, 149, 38);

  --info-color: 255, 203, 47;
  --info-color-rgb: rgb(255, 203, 47);

  --success-color: 83, 216, 106;
  --success-color-rgb: rgb(83, 216, 106);

  --error-color: 255, 52, 52;
  --error-color-rgb: rgb(255, 52, 52);

  --shadow-bottom-border: inset 0px -1px 0px #eaeaea;
  --shadow-bottom-1: 0px 2px 10px rgba(25, 1, 52, 0.12);
  --shadow-bottom-2: 0px 4px 10px rgba(1, 21, 52, 0.16);

  --shadow-top-border: inset 0px 1px 0px #eaeaea;
  --shadow-top-1: 0px -2px 10px rgba(25, 1, 52, 0.12);
  --shadow-top-2: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.check-demos {
    margin-top: 50px;
  background-color: rgb(240, 240, 240);
  padding: 15px;
  border-radius: 4px;
}

/* checkbox */

.label-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: Inter;
}

.label-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #ffffff;
  border: 2px solid var(--primary-color-rgb);
  box-sizing: border-box;
  border-radius: 4px;
}

.label-checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-color-rgb);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.label-checkbox-container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.label-checkbox-container input:disabled ~ .checkmark {
  background-color: white;
  border: 1px solid #e6eeff;
}

.label-checkbox-container input:disabled ~ .checkmark:after {
  display: none;
}

/* radios */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 3px solid var(--primary-color-rgb);
  border-radius: 50%;
}

.label-checkbox-container input:checked ~ .radio-checkmark {
  border: 3px solid var(--primary-color-rgb);
  background-color: white;
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.label-checkbox-container input:checked ~ .radio-checkmark:after {
  display: block;
}

.label-checkbox-container .radio-checkmark:after {
  top: 2px;
  left: 2px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--primary-color-rgb);
}

.label-checkbox-container input:disabled ~ .radio-checkmark {
  background-color: white;
  border: 1px solid #e6eeff;
}

.label-checkbox-container input:disabled ~ .radio-checkmark:after {
  display: none;
}

/* sliders */
.slider-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #e6eeff;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--primary-color-rgb);
}
