@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
    font-family: "SF-Pro";
    src: url("../fonts/sf-pro-text/SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
  }

:root {
  --primary-color: 0, 82, 255;
  --primary-color-rgb: rgb(0, 82, 255);

  --primary-100: rgb(230, 238, 255);
  --primary-200: rgb(179, 203, 255);
  --primary-300: rgb(128, 169, 255);
  --primary-400: rgb(77, 134, 255);
  --primary-500: rgb(0, 82, 255);
  --primary-600: rgb(0, 74, 230);
  --primary-700: rgb(0, 57, 179);
  --primary-800: rgb(0, 41, 128);
  --primary-900: rgb(0, 25, 76);

  --secondary-color: 254, 149, 38;
  --secondary-color-rgb: rgb(254, 149, 38);

  --info-color: 255, 203, 47;
  --info-color-rgb: rgb(255, 203, 47);

  --success-color: 83, 216, 106;
  --success-color-rgb: rgb(83, 216, 106);

  --error-color: 255, 52, 52;
  --error-color-rgb: rgb(255, 52, 52);

  --shadow-bottom-border: inset 0px -1px 0px #eaeaea;
  --shadow-bottom-1: 0px 2px 10px rgba(25, 1, 52, 0.12);
  --shadow-bottom-2: 0px 4px 10px rgba(1, 21, 52, 0.16);

  --shadow-top-border: inset 0px 1px 0px #eaeaea;
  --shadow-top-1: 0px -2px 10px rgba(25, 1, 52, 0.12);
  --shadow-top-2: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.shadow-bottom-border {
  box-shadow: var(--shadow-bottom-border);
}

.shadow-bottom-1 {
  box-shadow: var(--shadow-bottom-1);
}

.shadow-bottom-2 {
  box-shadow: var(--shadow-bottom-2);
}

.shadow-top-border {
  box-shadow: var(--shadow-top-border);
}

.shadow-top-1 {
  box-shadow: var(--shadow-top-1);
}

.shadow-top-2 {
  box-shadow: var(--shadow-top-2);
}

.shadow-container {
  display: flex;
  justify-content: space-around;

  margin: 100px 200px;
}

.card {
  width: 80px;
  height: 80px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-about {
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  padding-top: 8px;
  color: var(--primary-900);
}
