@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
    font-family: "SF-Pro";
    src: url("../fonts/sf-pro-text/SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
  }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

:root {
  --primary-color: 0, 82, 255;
  --primary-color-rgb: rgb(0, 82, 255);

  --primary-100: rgb(230, 238, 255);
  --primary-200: rgb(179, 203, 255);
  --primary-300: rgb(128, 169, 255);
  --primary-400: rgb(77, 134, 255);
  --primary-500: rgb(0, 82, 255);
  --primary-600: rgb(0, 74, 230);
  --primary-700: rgb(0, 57, 179);
  --primary-800: rgb(0, 41, 128);
  --primary-900: rgb(0, 25, 76);

  --secondary-color: 254, 149, 38;
  --secondary-color-rgb: rgb(254, 149, 38);

  --info-color: 255, 203, 47;
  --info-color-rgb: rgb(255, 203, 47);

  --success-color: 83, 216, 106;
  --success-color-rgb: rgb(83, 216, 106);

  --error-color: 255, 52, 52;
  --error-color-rgb: rgb(255, 52, 52);

  --shadow-bottom-border: inset 0px -1px 0px #eaeaea;
  --shadow-bottom-1: 0px 2px 10px rgba(25, 1, 52, 0.12);
  --shadow-bottom-2: 0px 4px 10px rgba(1, 21, 52, 0.16);

  --shadow-top-border: inset 0px 1px 0px #eaeaea;
  --shadow-top-1: 0px -2px 10px rgba(25, 1, 52, 0.12);
  --shadow-top-2: 0px -4px 10px rgba(25, 1, 52, 0.16);
}

/* typography - headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
  color: #00194c;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/* typography - paragraphs */
p {
  font-family: "Inter";
  color: #00194c;
  font-size: 18px;
  line-height: 26px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}

.table-container {
  display: flex;
  justify-content: center;
}