@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "SF-Pro";
  src: url("../fonts/sf-pro-text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: lighter;
}
@font-face {
    font-family: "SF-Pro";
    src: url("../fonts/sf-pro-text/SF-Pro-Text-Medium.otf") format("opentype");
    font-weight: 500;
  }