* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-collapse: collapse;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  font-size: 22px; //1rem
  scroll-behavior: smooth;
}
