@import "variables", "resets", "font-imports";

p {
  font-family: SukhumvitSet;
  font-weight: 300;
  font-size: 1rem; //22px
  line-height: 1.72rem; //37.84px
}

h1 {
  font-family: Saudagar;
  font-size: 12.5rem; //275px
  line-height: 16.25rem; //357.5px
  text-transform: uppercase;
}

h2 {
  font-family: Saudagar;
  font-size: 2.2727rem; //50px
  line-height: 2.9545rem; //65px
  text-transform: uppercase;
}

.decorative-1 {
  font-family: Saudagar;
  font-size: 1.3636rem; //30px
  line-height: 2.0455rem; //65px
  text-transform: uppercase;
  color: $accent-color-hex;
}

h3 {
  font-family: SukhumvitSet;
  font-weight: 300;
  font-size: 1.4545rem; //32px
  line-height: 1.8909rem; //41.6px
  text-transform: uppercase;
}

.lashes {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.4091rem; //31px
  line-height: 2.325rem; //51.15px
}

.navbar-links {
  font-family: SukhumvitSet;
  font-weight: 500;
  font-size: 0.8182rem; //18px
  line-height: 1.0909rem; //24px
}