@use "sass:math";
@import "variables", "resets", "font-imports";
// Function for converting a px based font-size to rem.
@function calculateRem($size) {
  @return math.div($size, 22px) * 1rem;
 }
 

p {
  font-family: SukhumvitSet;
  font-weight: 300;
  font-size: calculateRem(22px);
  line-height: calculateRem(37.85px);
}

h1 {
  font-family: 'Saudagar', sans-serif;
  font-size: calculateRem(275px);
  line-height: calculateRem(357.5px);
  text-transform: uppercase;
  outline: 0;
  border: 0;
}

h2 {
  font-family: Saudagar;
  font-size: calculateRem(50px); //50px
  line-height: calculateRem(65px);
  text-transform: uppercase;
}

.decorative-1 {
  font-family: Saudagar;
  font-size:calculateRem(30px);
  line-height: calculateRem(65px); //65px
  text-transform: uppercase;
  color: $accent-color-hex;
}

h3 {
  font-family: SukhumvitSet;
  font-weight: 300;
  font-size: calculateRem(32px); //32px
  line-height: calculateRem(41px); //41.6px
  text-transform: uppercase;
}

.lashes {
  font-family: Montserrat;
  font-weight: 400;
  font-size: calculateRem(31px); //31px
  line-height: calculateRem(51.15px); //51.15px
}

.navbar-links {
  font-family: SukhumvitSet;
  font-weight: 300;
  font-size: calculateRem(18px); //18px
  line-height: calculateRem(24px); //24px
}