/* $primary-color-rgb: rgb(0, 82, 255);

$primary-100: rgb(230, 238, 255);
$primary-200: rgb(179, 203, 255);
$primary-300: rgb(128, 169, 255);
$primary-400: rgb(77, 134, 255);
$primary-500: rgb(0, 82, 255);
$primary-600: rgb(0, 74, 230);
$primary-700: rgb(0, 57, 179);
$primary-800: rgb(0, 41, 128);
$primary-900: rgb(0, 25, 76);

$secondary-color-rgb: rgb(254, 149, 38);

$info-color-rgb: rgb(255, 203, 47);

$success-color-rgb: rgb(83, 216, 106);

$error-color-rgb: rgb(255, 52, 52); */

$accent-color-hex: #DCAC9B;
$dark-gray-color_hex: #1A1A1A;
$gray-color-rgba: rgba(26, 26, 26, 0.8);
$light-gray-color-rgba: rgba(255, 255, 255, 0.8);


$shadow-bottom-border: inset 0px -1px 0px #eaeaea;
$shadow-bottom-1: 0px 2px 10px rgba(25, 1, 52, 0.12);
$shadow-bottom-2: 0px 4px 10px rgba(1, 21, 52, 0.16);

$shadow-top-border: inset 0px 1px 0px #eaeaea;
$shadow-top-1: 0px -2px 10px rgba(25, 1, 52, 0.12);
$shadow-top-2: 0px -4px 10px rgba(25, 1, 52, 0.16);