@import "variables", "resets", "font-imports";

.flex-container {
  display: flex;
  justify-content: space-around;
  padding: 0% 0%;
}

@mixin button-base {
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color-rgb;
  padding: 15px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  @include button-base;

  background: $primary-color-rgb;
  border: none;
  color: white;

  &:hover {
    background-color: $primary-400;
  }

  &:active {
    background-color: $primary-300;
  }

  &:disabled {
    background-color: transparentize($primary-color-rgb, 0.92);
    color: $primary-300;
  }

  &[disabled] {
    pointer-events: none;
  }

  & svg {
    position: relative;
    top: 7%;
  }
}

.button-ghost {
  @include button-base;

  background: white;
  border: 1px solid $primary-color-rgb;
  color: $primary-color-rgb;

  &:disabled {
    color: $primary-200;
    border: 1px solid $primary-200;
  }
  &:hover {
    background-color: $primary-100;
  }

  &[disabled] {
    pointer-events: none;
  }

  &:active {
    color: $primary-700;
    border: 1px solid $primary-700;
  }

  & svg {
    position: relative;
    top: 7%;
  }
}

/* Demo classes */

@mixin demo-static-button-base {
  border-radius: 4px;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: white;
  padding: 15px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-primary-hover {
  @include demo-static-button-base;
  background-color: $primary-400;
}

.button-primary-active {
  @include demo-static-button-base;
  background-color: $primary-300;
}


.button-ghost-hover {
  @include demo-static-button-base;
  border: 1px solid $primary-color-rgb;
  color: $primary-color-rgb;
  background-color: $primary-100;
}

.button-ghost-disabled {
  @include demo-static-button-base;
  color: $primary-200;
  border: 1px solid $primary-200;
}


.button-ghost-active {
  @include demo-static-button-base;
  color: $primary-700;
  border: 1px solid $primary-700;
  background-color: $primary-100;
}
