@import 'variables', 'resets', 'font-imports';

/* ------------------ */
.primary {
  background-color: $primary-color-rgb;
}

.primary-100 {
  background-color: $primary-100;
}
.primary-200 {
  background-color: $primary-200;
}
.primary-300 {
  background-color: $primary-300;
}
.primary-400 {
  background-color: $primary-400;
}
.primary-500 {
  background-color: $primary-500;
}
.primary-600 {
  background-color: $primary-600;
}
.primary-700 {
  background-color: $primary-700;
}
.primary-800 {
  background-color: $primary-800;
}
.primary-900 {
  background-color: $primary-900;
}

.primary-8 {
  background-color: transparentize($primary-color-rgb, 0.92);
}

.primary-16 {
  background-color: transparentize($primary-color-rgb, 0.84);
}

.primary-24 {
  background-color: transparentize($primary-color-rgb, 0.76);
}

.primary-32 {
  background-color: transparentize($primary-color-rgb, 0.68);
}

.primary-40 {
  background-color: transparentize($primary-color-rgb, 0.6);
}

.primary-48 {
  background-color: transparentize($primary-color-rgb, 0.52);
}

.colors {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

table {
  margin: 50px;
  empty-cells: show;
}

td {
  padding: 8px 35px;

  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
}

.small-color {
  width: 48px;
  height: 48px;
  border-radius: 2px;
}

.big-color {
  width: 140px;
  height: 140px;
  border-radius: 2px;
}

.color-card {
  margin: 50px;
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid $primary-100;
  border-radius: 0px 0px 4px 4px;
  padding: 10px 0px 5px 8px;

  font-family: inter;
  font-weight: 600;
}

.card-title {
    color: $primary-900;
}

.card-about {
    color: $primary-200;
    font-weight: 400;
}