@import 'variables', 'resets', 'font-imports';

.flex-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}


/* dropdown */

.dropdown-container {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-button {
  background: white;
  border-radius: 4px;
  border: 1px solid $primary-color-rgb;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color-rgb;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-width: 200px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  & svg {
    position: absolute;
    right: 7%;
    top: 7%;
  }

  & + .dropdown-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: #f9f9f9;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    min-width: 100%;
    box-shadow: $shadow-bottom-2;
    z-index: 1;
  }

  & + .dropdown-content a:not(:last-child) {
    border-bottom: 1px solid rgba(0, 82, 255, 0.08);
  }

  & + .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

/* calendar */

.calendar-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  & td:not(.weekdays) {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-family: Inter;
  }

  & td {
    height: 2.1em;
  }
}

.calendar-button {
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(102, 102, 102, 0.24);
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-width: 350px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  & svg {
    position: absolute;
    right: 5%;
  }
}

.calendar-content {
  min-width: 80%;
  text-align: center;
  border: 1px solid white;
  box-shadow: $shadow-bottom-2;
  padding: 7% 4% 7% 4%;
}

.weekdays {
  font-family: SF-Pro;
  font-weight: lighter;
  font-size: 10px;
  line-height: 18px;
  color: gray;
}

table {
  box-shadow: $shadow-top-border;
  width: 100%;
  border-collapse: collapse;
}

.chosen-left {
  background-color: $primary-color-rgb;
  color: white;
  border-radius: 4px 0px 0px 4px;
}

.inbetween-chosen {
  background-color: #e6eeff;
  color: $primary-color-rgb;
}

.chosen-right {
  background-color: $primary-color-rgb;
  color: white;
  border-radius: 0px 4px 4px 0px;
}

.month-selector {
  background-color: white;
  border: none;
  padding-bottom: 10px;
  text-align: center;

  & .right-svg {
    position: absolute;
    right: 10%;
  }

  & .left-svg {
    position: absolute;
    left: 10%;
  }
}