@import "variables", "resets", "font-imports", "typography", "buttons", "inputs";

@mixin fit-screen-img-horizontal {
  width: 100%;
  min-height: auto;
}

.lashes {
  text-transform: uppercase;
  letter-spacing: .15rem;
}

.top-nav {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
  color: white;
  padding: 0px 50px;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  padding: 35px 0px;

  & svg {
    display: inline-block;
    vertical-align: -2px;
  }

  & .play-button-svg {
    display: inline-block;
    vertical-align: -5px;
  }

  & .send-to-left {
    margin-right: auto;
  }

  & li {
    padding: 0px 30px;
  }
}

.img-container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/make-up-glasses.png);
  background-position: center;
  background-size: cover;
  position: relative;

  text-align: center;

  & .title-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%);

    & h1 {
      opacity: 0;
      transform: rotate(0.005turn);

      animation: fadeDown 3s ease-in-out forwards;
    }

    & h3 {
      margin-bottom: 10vh;
    }
  }
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
.gray-rectangle-container {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/gray-rectangle.png);
  background-position: center;
  background-size: cover;
  position: relative;

  & .title-card-container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .card-2 {
      text-align: center;
      & h2 {
        position: relative;
        top: -45px;
      }

      & p {
        opacity: 80%;
      }
    }
  }

  & .coming-soon-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;

    font-family: Saudagar;
    font-size: 9rem; //198px
    line-height: 100%; //357.5px
    text-transform: uppercase;

    overflow: hidden;

    position: absolute;
    top: 0px;

    animation: pulse 5s ease-in alternate infinite;
  }
}

@keyframes pulse {
  from {
    opacity: 0.06;
  }
  to {
    opacity: 0.5;
  }
}

.eyebrush-flex {
  display: flex;
  justify-content: center;

  & img {
    position: relative;
    bottom: 100px;
    width: 80vw;
  }
}

.flex-01 {
  display: flex;
  justify-content: space-between;
  margin: 0% 10vw;

  & img {
    width: 30vw;
    height: auto;
  }

  & .flex-01-item-l {
    margin-right: 10vw;
  }
  & .flex-01-item-r {
    transition: .5s ease-in-out;
    margin-left: 10vw;
  }

  & .flex-01-item-r:hover {
    transform: translateX(1rem);
  }
}

.card-text {
  & p {
    margin-top: 35px;
  }
}

.gray-rectangle-container-02 {
  margin-top: 350px;
  height: 80vh;
  width: auto;
  background-color: $dark-gray-color_hex;
  position: relative;

  & .flex-02 {
    display: flex;
    justify-content: space-between;
    margin: 0% 10vw;
    align-items: center;

    position: absolute;
    bottom: 0px;

    & .flex-02-item-l {
      margin-right: 10vw;
      transition: .5s ease-in-out;
      &:hover {
        transform: translateX(1rem);
      }
    }
    & .flex-02-item-r {
      margin-left: 10vw;

      & img {
        display: block;
        height: 100vh;
        width: auto;
      }
    }

    & h2,
    p {
      color: white;
    }
  }
}

.flex-03-04 {
  display: flex;
  justify-content: space-between;
  margin: 25vh 10vw;

  & .flex-03-04-item-l,
  .flex-03-04-item-r {
    transition: .5s ease-in-out;
    width: 30vw;

    transition: .5s ease-in-out;
      &:hover {
        transform: translateX(1rem);
      }
  }
}

.ellipse-flex {
  height: 100%;
  margin-bottom: 20%;
  width: auto;
  display: flex;
  justify-content: center;
  position: relative;

  & img {
    width: 25vw;
    height: auto;
    margin: 0px 30px;
  }

  & .ellipse-1 {
    animation: scaleUp 4s ease-in-out infinite;
  }

  & .ellipse-2 {
    animation: scaleUp 4s ease-in-out 2s infinite;
  }

  & .ellipse-3 {
    animation: scaleUp 4s ease-in-out 3s infinite,
      turn45 4s ease-in-out 3s infinite;
  }

  & .phone-img-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    & .phone-button-flex {
      display: flex;
      align-items: center;
      margin-top: 5%;

      & button {
        margin: 0px 3px;
      }
    }
  }
}

@keyframes scaleUp {
  16% {
    transform: scale(1.1);
  }

  33%,
  100% {
    transform: scale(1);
  }
}

@keyframes turn45 {
  to {
    transform: rotate(0.25turn);
  }
}

.form-flex {
  margin-top: 5vh;
  display: flex;

  & img {
    display: block;
    width: 100%;
    height: auto;
    min-width: 600px;
  }

  & .survey {
    width: 50vw;
    height: 100%;
    background-color: $dark-gray-color_hex;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0px 8vw;

    & h2 {
      align-self: flex-start;
      color: white;
    }

    & input,
    button,
    label,
    h2 {
      margin: 10px 0px;
      width: 100%;

      &:focus::placeholder {
        color: transparent;
      }
    }

    & label {
      color: transparent;
      transition: 0.25s ease-in-out;
    }

    label:focus-within {
      color: white;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: black;
  color: white;

  padding: 20px 0px;

  & * {
    padding: 0px 100px;
  }

  & p {
    font-size: 0.7273rem;
  }
}

@media (max-width: 1400px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 700px) {

  html {
    font-size: 12px;
  }

  .top-nav {
    & ul {
      flex-direction: column;
      align-items: center;

      & li {
        margin: 2% 0%;
      }

      & .send-to-left {
        margin-right: 0px;
      }
    }
  }
}

@mixin column-flex {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {

  
  .gray-rectangle-container {
    .coming-soon-flex {
      flex-direction: column;
      font-size: 5rem;
      width: auto;
      height: 100%;
    }
  }
  

  .form-flex {
    flex-direction: column;

    & img {
      min-width: 0px;
    }

    & .survey {
      width: 100%;
    }
  }

  .eyebrush-flex {
    margin: 10% 0px;
    & img {
      position: static;
    }
  }

  .ellipse-flex {
    @include column-flex;

    & img {
      width: 75vw;
    }

    & .phone-img-flex {
      & .phone-button-flex {
        flex-direction: column;

        & button {
          margin-top: 5%;
        }
      }
    }
  }

  .flex-01 {
    @include column-flex;

    & img {
      width: 60vw;
      height: auto;
      margin-bottom: 10%;
    }

    & .flex-01-item-l {
      margin-right: 0px;
    }
    & .flex-01-item-r {
      margin-left: 0px;
    }
  }

  .gray-rectangle-container-02 {
    height: auto;
    margin-top: 5%;

    & .flex-02 {
      position: static;
      @include column-flex;
      margin: 0px 0px;

      & .flex-02-item-l,
      .flex-02-item-r {
        margin: 5% 5%;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .flex-03-04 {
    @include column-flex;

    & .flex-03-04-item-l,
    .flex-03-04-item-r {
      width: 60vw;
    }

    & .flex-03-04-item-r {
      margin-top: 10%;
    }
  }

  footer {
    flex-direction: column;
    padding: 5% 0px;
  }
}

@media (max-width: 450px) {
  .title-card-container-2 {
    width: 75vw;
  }

  .img-container {
    & .title-card-container {
      & h1 {
        font-size: 7rem;
        line-height: 100%;
      }

      & h3 {
        font-size: 1rem;
      }
    }
  }
}
