@import 'variables', 'resets', 'font-imports';

.flex-container {
    display: flex;
    justify-content: space-around;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.input-text {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  outline: none;

  &:hover {
    border-color: $primary-color-rgb;
  }
  
  &:focus {
    border: 1px solid $primary-color-rgb;
  }
  
  &:focus:invalid {
    border: 1px solid $error-color-rgb;
    color: $error-color-rgb;
  }
  
  &:focus:valid {
    border: 1px solid $success-color-rgb;
    color: $success-color-rgb;
  }
  
  &:disabled {
    border: none;
    background-color: #f2f2f2;
  }
  &:disabled::placeholder {
    color: #bdbdbd;
  }
}


.input-wrapper {
  position: relative;
  width: 300px;
}

.input-right {
  padding: 10px 0px 10px 26px;
  width: 100%;

  &:focus:invalid + .input-right-icon {
    color: $error-color-rgb;
  }
  
  &:focus:valid + .input-right-icon {
    color: $success-color-rgb;
  }
  
  &:disabled + .input-right-icon {
    color: #bdbdbd;
  }
  
}

.input-right-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  color: #808080;
}

.input-left {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
  padding: 10px 0px 10px 30px;
  width: 100%;

  &:focus:invalid + .input-left-icon {
    color: $error-color-rgb;
  }
  
  &:focus:valid + .input-left-icon {
    color: $success-color-rgb;
  }
  
  &:disabled + .input-left-icon {
    color: #bdbdbd;
  }
}

.input-left-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  top: 12px;
  color: #808080;
}

.infoexp {
  font-size: 14px;
  line-height: 22px;
  color: $info-color-rgb;
  padding-top: 4px;
}

.errorexp {
    font-size: 14px;
    line-height: 22px;
    color: $error-color-rgb;
    padding-top: 4px;
  }

/* input demos */

@mixin normal-input-base {
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
  outline: none;
}

.input-hover {
  @include normal-input-base;
  border: 1px solid $primary-color-rgb;
}

.input-focus {
  @include normal-input-base;
  border: 1px solid $primary-color-rgb;
}

.input-error {
  @include normal-input-base;
  border: 1px solid $error-color-rgb;
  color: $error-color-rgb;
}

.input-success {
  @include normal-input-base;
  border: 1px solid $success-color-rgb;
  color: $success-color-rgb;
}

.input-disabled {
  @include normal-input-base;
  border: none;
  background-color: #f2f2f2;
}

.input-info {
  @include normal-input-base;
  border: 1px solid $info-color-rgb;
  color: $info-color-rgb;
}

.input-left-hover {
  padding: 10px 0px 10px 30px;
  width: 100%;
  border-color: $primary-color-rgb;
}

.input-left-error {
  padding: 10px 0px 10px 30px;
  width: 100%;
  border-color: $error-color-rgb;
  color: $error-color-rgb;
}

.input-left-error + svg {
  color: $error-color-rgb;
}

.input-left-success {
  padding: 10px 0px 10px 30px;
  width: 100%;
  border-color: $success-color-rgb;
  color: $success-color-rgb;
}

.input-left-success + svg {
  color: $success-color-rgb;
}

.input-left-info {
  padding: 10px 0px 10px 30px;
  width: 100%;
  border-color: $info-color-rgb;
  color: $info-color-rgb;
}

.input-left-info + svg {
  color: $info-color-rgb;
}

.input-right-hover {
  padding: 10px 0px 10px 26px;
  width: 100%;
  border-color: $primary-color-rgb;
}

.input-right-error {
  padding: 10px 0px 10px 26px;
  width: 100%;
  border-color: $error-color-rgb;
  color: $error-color-rgb;
}

.input-right-error + svg {
  color: $error-color-rgb;
}

.input-right-info {
  padding: 10px 0px 10px 26px;
  width: 100%;
  border-color: $info-color-rgb;
  color: $info-color-rgb;
}

.input-right-info + svg {
  color: $info-color-rgb;
}

.input-right-success {
  padding: 10px 0px 10px 26px;
  width: 100%;
  border-color: $success-color-rgb;
  color: $success-color-rgb;
}

.input-right-success + svg {
  color: $success-color-rgb;
}
