a {
  cursor: pointer;
  text-decoration: none;
  color: #242424;
  margin: 0 auto;
}

.parent-container {
    display: flex;
    justify-content: baseline;
    text-align: center;
    margin-top: 100px
}


.flex-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}