@import 'variables', 'resets', 'font-imports';


.shadow-bottom-border {
  box-shadow: $shadow-bottom-border;
}

.shadow-bottom-1 {
  box-shadow: $shadow-bottom-1;
}

.shadow-bottom-2 {
  box-shadow: $shadow-bottom-2;
}

.shadow-top-border {
  box-shadow: $shadow-top-border;
}

.shadow-top-1 {
  box-shadow: $shadow-top-1;
}

.shadow-top-2 {
  box-shadow: $shadow-top-2;
}