@import "variables", "resets";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;602&display=swap");

@font-face {
  font-family: "SF-Pro";
  src: url("fonts/sf-pro-text/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro";
  src: url("fonts/sf-pro-text/SF-Pro-Text-Thin.otf") format("opentype");
  font-weight: lighter;
}

@mixin headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @content;
  }
}

/* typography - headers */
@include headings() {
  font-family: "Inter";
  color: #00194c;
  margin-top: 15px;
  margin-bottom: 15px;
}

::selection {
  background: #272727;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
}

h3 {
  font-size: 22px;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
}

h5 {
  font-size: 18px;
  line-height: 26px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

/* typography - paragraphs */
p {
  font-family: "Inter";
  color: #00194c;
  font-size: 18px;
  line-height: 26px;

  margin-top: 15px;
  margin-bottom: 15px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}

/* Color demos */

.color-demonstrations {
  display: flex;
  justify-content: space-around;

  & .color-box {
    width: 20%;
    height: 100px;
  }
}

/* primary shades */
.primary {
  background-color: $primary-color-rgb;
}

.primary-75 {
  background-color: transparentize($primary-color-rgb, 0.25);
}

.primary-50 {
  background-color: transparentize($primary-color-rgb, 0.5);
}

.primary-25 {
  background-color: transparentize($primary-color-rgb, 0.75);
}

.primary-10 {
  background-color: transparentize($primary-color-rgb, 0.9);
}

/* secondary shades */
.secondary {
  background-color: $secondary-color-rgb;
}

.secondary-75 {
  background-color: transparentize($secondary-color-rgb, 0.25);
}

.secondary-50 {
  background-color: transparentize($secondary-color-rgb, 0.5);
}

.secondary-25 {
  background-color: transparentize($secondary-color-rgb, 0.75);
}

.secondary-10 {
  background-color: transparentize($secondary-color-rgb, 0.9);
}

/* info shades */
.info {
  background-color: $info-color-rgb;
}

.info-75 {
  background-color: transparentize($info-color-rgb, 0.25);
}

.info-50 {
  background-color: transparentize($info-color-rgb, 0.5);
}

.info-25 {
  background-color: transparentize($info-color-rgb, 0.75);
}

.info-10 {
  background-color: transparentize($info-color-rgb, 0.9);
}

/* success shades */
.success {
  background-color: $success-color-rgb;
}

.success-75 {
  background-color: transparentize($success-color-rgb, 0.25);
}

.success-50 {
  background-color: transparentize($success-color-rgb, 0.5);
}

.success-25 {
  background-color: transparentize($success-color-rgb, 0.75);
}

.success-10 {
  background-color: transparentize($success-color-rgb, 0.9);
}

/* error shades */
.error {
  background-color: $error-color-rgb;
}

.error-75 {
  background-color: transparentize($error-color-rgb, 0.25);
}

.error-50 {
  background-color: transparentize($error-color-rgb, 0.5);
}

.error-25 {
  background-color: transparentize($error-color-rgb, 0.75);
}

.error-10 {
  background-color: transparentize($error-color-rgb, 0.9);
}

/* Shadows */
.shadow-demo-rectangle {
  background-color: #dcdce2;
  width: 20%;
  height: 250px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.shadow-bottom-border {
  box-shadow: $shadow-bottom-border;
}

.shadow-bottom-1 {
  box-shadow: $shadow-bottom-1;
}

.shadow-bottom-2 {
  box-shadow: $shadow-bottom-2;
}

.shadow-top-border {
  box-shadow: $shadow-top-border;
}

.shadow-top-1 {
  box-shadow: $shadow-top-1;
}

.shadow-top-2 {
  box-shadow: $shadow-top-2;
}

/* Buttons */
.button-demonstrations {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

// base sizing, f
@mixin button-base {
  border-radius: 4px;
  border: 1px solid $primary-color-rgb;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color-rgb;
  padding: 15px 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button-primary {
  @include button-base;

  background: $primary-color-rgb;
  border: none;
  color: white;

  &:hover {
    background-color: $primary-400;
  }

  &:active {
    background-color: $primary-300;
  }

  &:disabled {
    background-color: transparentize($primary-color-rgb, 0.92);
    color: $primary-300;
  }

  &[disabled] {
    pointer-events: none;
  }

  & svg {
    position: relative;
    top: 7%;
  }
}

.button-ghost {
  @include button-base;

  background: white;
  border: 1px solid $primary-color-rgb;
  color: $primary-color-rgb;

  &:disabled {
    color: $primary-200;
    border: 1px solid $primary-200;
  }
  &:hover {
    background-color: $primary-100;
  }

  &[disabled] {
    pointer-events: none;
  }

  &:active {
    color: $primary-700;
    border: 1px solid $primary-700;
  }

  & svg {
    position: relative;
    top: 7%;
  }
}

/* inputs */

input[type="text"] {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-family: Inter;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  padding: 12px 30px;
  text-decoration: none;
  display: inline-block;
  outline: none;

  &:hover {
    border-color: $primary-color-rgb;
  }

  &:focus {
    border: 1px solid $primary-color-rgb;
  }

  &:focus:invalid {
    border: 1px solid $error-color-rgb;
    color: $error-color-rgb;
  }

  &:focus:valid {
    border: 1px solid $success-color-rgb;
    color: $success-color-rgb;
  }

  &:disabled {
    border: none;
    background-color: #f2f2f2;
  }
  &:disabled::placeholder {
    color: #bdbdbd;
  }
}

/* inputs with icons */

.input-wrapper {
  position: relative;
  width: 300px;
}

.input-right {
  padding: 10px 0px 10px 26px;
  width: 100%;

  & + svg {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
    top: 12px;
    fill: #808080;
  }

  &:focus:invalid + svg {
    color: $error-color-rgb;
  }

  &:focus:valid + svg {
    color: $success-color-rgb;
  }

  &:disabled + svg {
    color: #bdbdbd;
  }
}

.input-left {
  box-sizing: border-box;
  padding: 10px 0px 10px 26px;
  width: 100%;

  & ~ svg {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 10px;
    top: 14px;
    fill: #808080;
  }

  &:focus:invalid ~ svg {
    color: $error-color-rgb;
  }

  &:focus:valid ~ svg {
    color: $success-color-rgb;
  }

  &:disabled ~ svg {
    color: #bdbdbd;
  }
}

/* dropdown */

.dropdown-container {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
  }
}

.dropdown-button {
  background: white;
  border-radius: 4px;
  border: 1px solid $primary-color-rgb;
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: $primary-color-rgb;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-width: 200px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  & svg {
    position: absolute;
    right: 7%;
    top: 7%;
  }

  & + .dropdown-content {
    display: none;
    border-radius: 4px;
    position: absolute;
    background-color: #f9f9f9;
    font-family: Inter;
    font-size: 14px;
    line-height: 22px;
    min-width: 100%;
    box-shadow: $shadow-bottom-2;
    z-index: 1;
  }

  & + .dropdown-content a:not(:last-child) {
    border-bottom: 1px solid rgba(0, 82, 255, 0.08);
  }

  & + .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
}

/* calendar */

.calendar-container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;

  & td:not(.weekdays) {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    font-family: Inter;
  }

  & td {
    height: 2.1em;
  }
}

.calendar-button {
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(102, 102, 102, 0.24);
  font-family: Inter;
  font-size: 16px;
  line-height: 24px;
  color: #e0e0e0;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  min-width: 350px;
  text-align: left;
  text-decoration: none;
  display: inline-block;

  & svg {
    position: absolute;
    right: 5%;
  }
}

.calendar-content {
  min-width: 80%;
  text-align: center;
  border: 1px solid white;
  box-shadow: $shadow-bottom-2;
  padding: 7% 4% 7% 4%;
}

.weekdays {
  font-family: SF-Pro;
  font-weight: lighter;
  font-size: 10px;
  line-height: 18px;
  color: gray;
}

table {
  box-shadow: $shadow-top-border;
  width: 100%;
  border-collapse: collapse;
}

.chosen-left {
  background-color: $primary-color-rgb;
  color: white;
  border-radius: 4px 0px 0px 4px;
}

.inbetween-chosen {
  background-color: #e6eeff;
  color: $primary-color-rgb;
}

.chosen-right {
  background-color: $primary-color-rgb;
  color: white;
  border-radius: 0px 4px 4px 0px;
}

.month-selector {
  background-color: white;
  border: none;
  padding-bottom: 10px;
  text-align: center;

  & .right-svg {
    position: absolute;
    right: 10%;
  }

  & .left-svg {
    position: absolute;
    left: 10%;
  }
}

/* checkbox */
@mixin check-container-base {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  font-family: Inter;
}


.label-checkbox-container {
  @include check-container-base;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & input:checked ~ .checkmark {
    background-color: $primary-color-rgb;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & input:disabled ~ .checkmark {
    background-color: white;
    border: 1px solid #e6eeff;
  }
  
  & input:disabled ~ .checkmark:after {
    display: none;
  }

  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background: #ffffff;
    border: 1px solid $primary-color-rgb;
    box-sizing: border-box;
    border-radius: 4px;

    &:after {
      content: "";
      position: absolute;
      display: none;

      left: 8px;
      top: 4px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}








/* radios */
.label-checkmark-container {
  @include check-container-base;

  & input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  & .radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 3px solid $primary-color-rgb;
    border-radius: 50%;
  }

  .label-checkmark-container input:checked ~ .radio-checkmark {
    border: 3px solid $primary-color-rgb;
    background-color: white;
  }
  
  & .radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  & input:checked ~ .radio-checkmark:after {
    display: block;
  }
  
  & .radio-checkmark:after {
    top: 1px;
    left: 1px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: $primary-color-rgb;
  }
  
  & input:disabled ~ .radio-checkmark {
    background-color: white;
    border: 1px solid #e6eeff;
  }
  
  & input:disabled ~ .radio-checkmark:after {
    display: none;
  }
}



/* sliders */
.slider-container {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  & input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  & .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: 0.4s;
    border-radius: 34px;
  }

  & .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #e6eeff;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  & input:checked + .slider:before {
    transform: translateX(26px);
    background-color: $primary-color-rgb;
  }
}
