@import 'variables', 'resets', 'font-imports';

.typography-table {
  margin-top: 50px;
  border-collapse: collapse;

  & td {
    padding: 54px 24px;
    font-weight: 400;
    font-family: "Inter";
    color: #00194c;
    font-size: 18px;
    line-height: 26px;
    box-shadow: $shadow-bottom-border;
  }
}

.theader {
  font-family: SF-Pro;
  color: $primary-900;
  font-weight: 500;
  background-color: $primary-100;
  padding: 35px 24px;
}
